ChallengeResponseAuthentication no
UsePAM yes
X11Forwarding yes
PrintMotd no
AcceptEnv LANG LC_*
Subsystem	sftp	/usr/lib/openssh/sftp-server

AuthorizedKeysCommand /iampubkeys.sh
AuthorizedKeysCommandUser root
PasswordAuthentication no
PubkeyAuthentication yes
AuthorizedKeysFile none
AuthenticationMethods publickey
